* {
  font-family: Sans-Serif;
  margin: 0;
  padding: 0; }

.App {
  width: 128px;
  height: 128px;
  background-color: #000; }

.Scene-frame {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 0;
  top: 0;
  opacity: 0; }
  .Scene-frame.is-active {
    opacity: 1; }

.Gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .Gradient > .fill {
    width: 128px;
    height: 128px; }
